:root {
  --color-primary-a0: #ffffff;
  --color-primary-a10: #fceed8;
  --color-primary-a20: #f7dcb2;
  --color-primary-a30: #f0cc8c;
  --color-primary-a50: #e8bb66;
  --color-primary-a60: #a9894d;
  --color-primary-a70: #6e5935;
  --color-primary-a80: #382e1e;
  --color-primary-a90: #000000;
}

html {
  margin: 0;
  box-sizing: border-box;
  background: var(--color-primary-a10);
  font-family: Inter, sans-serif;
}
body {
  background-color: var(--color-primary-a10);
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  line-height: 1.5;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}
h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  transition: 0.2s ease;
  color: var(--color-primary-a50);
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 7em;
    display: inline-flex;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
