---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Coffee Place">
  <div class="split-message">
    <h1>Coffee Place</h1>
    <h2>Donde la excelencia en café se encuentra con la accesibilidad</h2>
  </div>
  <main>
    <section>
      <article>
        <div class="specialty">
          <img
            src="https://img.freepik.com/free-psd/disposable-coffee-paper-cup-mockup-design_53876-65833.jpg?size=626&ext=jpg&ga=GA1.1.727995439.1708176167&semt=ais"
            alt=""
          />
          <div class="self-aligned">
            <p>
              <strong
                >Descubre el verdadero sabor del café de especialidad</strong
              >.
              <br />
              En Coffee Place, creemos que todos merecen disfrutar del placer de
              un café excepcional en la comodidad de su hogar. Dile adiós al café
              comercial y a las cápsulas. Es hora de elevar tu experiencia con aromas
              y matices que solo un café de especialidad puede ofrecer.
            </p>
            <p>
              <strong>Calidad sin compromisos, precios sin sorpresas.</strong>
              Nuestra selección de cafés de especialidad está diseñada para sorprenderte,
              sin tener que gastar una fortuna. Nos enorgullece ofrecer un café que
              no solo satisface tus sentidos sino que también apoya el comercio justo
              y prácticas sostenibles. Porque un gran café no debería ser un lujo,
              sino una parte cotidiana de tu vida.
            </p>
          </div>
        </div>
        <div class="specialty">
          <div class="self-aligned">
            <p>
              <strong> Compromiso auténtico.</strong>
              <br />
              En Coffee Place, cada grano cuenta. Desde el pequeño agricultor hasta
              tu taza, nos aseguramos de que nuestro café sea fresco, justo y sostenible.
              Porque creemos que el mejor café es aquel que se disfruta con conciencia.
            </p>
            <p>
              <strong> Visita nuestra tienda.</strong>
              <br />
              Explora nuestra cuidadosa selección de cafés y tés. Sumérgete en un
              entre las distintas variedades y descubre los matices detrás de una
              buena taza de café. Es momento de redescubrir tu amor por el café.
            </p>
            <br />
            <a href="/coffee">Ver catálogo</a>
          </div>
          <img
            src="https://img.freepik.com/foto-gratis/vista-herramienta-utilizada-prensar-hacer-cafe_23-2149878080.jpg?w=740&t=st=1710602613~exp=1710603213~hmac=f0e3124df961459a186c59c9a4cd06747b475524d857677c181e3b29f7faebc9"
            alt=""
          />
        </div>
      </article>
    </section>
  </main>
</BaseLayout>

<style>
  .split-message {
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw;
    text-wrap: pretty;
  }
  .split-message h1 {
    margin: 0;
  }
  .split-message h2 {
    margin-top: 0.7vh;
    font-size: 35px;
  }

  main {
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
  }

  h2 {
    padding: 0;
  }
  h3 {
    text-align: center;
  }

  .specialty {
    display: flex;
    gap: 2.5rem;
    margin: 2rem 0 4rem 0;
  }

  .specialty img {
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    width: 350px;
  }

  .specialty p {
    text-wrap: pretty;
    text-align: justify;
    float: inline-start;
  }

  .self-aligned {
    align-self: center;
  }
  .self-aligned p {
    margin: 8px 0;
  }

  a {
    align-self: self-start;
    color: black;
    margin-top: 1rem;
    font-weight: 600;
  }

  a:hover,
  a:focus {
    transition: 0.2s ease;
    color: var(--color-primary-a50);
  }
</style>
