---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
let coffeeList = [];
try {
  const response = await fetch("https://apimocha.com/place/coffee-list");
  const coffeeResult = await response.json();
  //TODO: check https://github.com/typicode/lowdb as an alternative
  coffeeList = coffeeResult;
} catch (error) {
  console.log(error);
}
---

<BaseLayout title="Coffee Place">
  <h1>Welcome to Coffee Place</h1>

  <ul role="list" class="link-card-grid">
    {
      coffeeList.length > 0 ? (
        coffeeList.map((coffee: any) => (
          <Card
            title={coffee.nombre}
            body={coffee.notas_cata}
            href="https://astro.build/integrations/"
          />
        ))
      ) : (
        <div>
          <h2>Actualmente estamos sin stock</h2>
          <h3>Pero tranquilo, estamos tostando más!</h3>
        </div>
      )
    }
  </ul>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h3 {
    text-align: center;
  }
</style>
