---
import { Image } from "astro:assets";
---

<div>
  <Image
    loading={"eager"}
    src={"https://logowik.com/content/uploads/images/coffee2253.jpg"}
    height={100}
    width={130}
    alt="a coffee"
  />
</div>
<style>
  div {
    border-radius: 6px;
  }
</style>
