---
import CoffeeLogo from "./CoffeeLogo.astro";
import Navigation from "./Navigation.astro";
---

<nav>
  <CoffeeLogo />
  <Navigation />
</nav>
<style>
  nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
</style>
